.navbar-brad img {width: 150px}

.navbar-nav li {
	padding-right: 100px;
}

a {
    font-weight: 1000;
}

.big-font-size {
    font-size: 30px;
}

* {
  margin:0;
  padding:0;
}

body {
  background-color: #99958C;
}


.slider{
    width:1100px;
    height:600px;
    overflow:hidden;
    border:10px solid #fff;
}

.middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.navigation{
    position:absolute;
    bottom:16px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}

.bar{
    height:8px;
    width:30px;
    margin:6px;
    cursor:pointer;
    background-color:#ddd;
    opacity:.7;
    border-radius:10px;
    transition:all .4s ease;
}

.bar:hover{
    opacity:1;
    transform:scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.sliders{
    width:400%;
    height:100%;
    display:flex;
}

.slide{
    width:25%;
    transition:all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

.search-box {
	position: absolute;
	top: 50%;
	transform: translate(-100%, -40%);
	background: #2f3640;
	height: 50px;
	width: 500px;
	border-radius: 40px;
	padding: 10px;
}

.search-btn {
	color: #1da1f3;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 20px;
	transition: 0.4s;
	line-height: 40px;
	width: 400px;
}