<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Who-know</title>
    </head>
    <body>
		<header>
			<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
				<div class="container-fluid">
					<a href="#" class="navbar-brad"><img src="/static/img/test-logo.jpg"></a>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a href="#" class="nav-link big-font-size">Зарегистрироваться</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link big-font-size">Войти</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="slider middle">

				<div class="sliders">

					<input type="radio" name="r" id="r1" checked>
					<input type="radio" name="r" id="r2">
					<input type="radio" name="r" id="r3">
					<input type="radio" name="r" id="r4">


					<div class="slide s1"><a href="#"><img src=/static/img/picture_for_main_1.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_2.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_3.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_4.jpg alt=""></a></div>

				</div>

				<div class="navigation">

					<label for="r1" class="bar"></label>
					<label for="r2" class="bar"></label>
					<label for="r3" class="bar"></label>
					<label for="r4" class="bar"></label>

				</div>

			</div>
		</main>
	</body>
</html>