{% extends "base.html" %}

{% block content %}
<div class="slider middle">

				<div class="sliders">

					<input type="radio" name="r" id="r1" checked>
					<input type="radio" name="r" id="r2">
					<input type="radio" name="r" id="r3">
					<input type="radio" name="r" id="r4">


					<div class="slide s1"><a href="#"><img src=/static/img/picture_for_main_1.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_2.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_3.jpg alt=""></a></div>
					<div class="slide"><a href="#"><img src=/static/img/picture_for_main_4.jpg alt=""></a></div>

				</div>

				<div class="navigation">

					<label for="r1" class="bar"></label>
					<label for="r2" class="bar"></label>
					<label for="r3" class="bar"></label>
					<label for="r4" class="bar"></label>

				</div>


			</div>
{% endblock %}