{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="mt-4">
        <div class="row">
            <h1>Записи в блоге</h1>
        </div>
        {% if current_user.is_authenticated %}
            <a href="news" class="btn btn-secondary">Добавить Задачу</a>
        {% endif %}
    </section>
</div>



{% for item in news%}
<div class="container">
    <section class="mt-4">
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card mb-4 wow fadeIn">
                    <div class="col-md6 border rounded card-body">

                        <p class="h5 my-4">{{item.title}}</p>


                        <blockquote class="blockquote">

                            <p class="mb-0 ">
                                {{item.content}}
                            </p>

                            <footer class="blockquote-footer">
                                <cite title="Hello">
                                    <div>
                                        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
                                    </div>
                                </cite>
                            </footer>
                        </blockquote>


                        {% if current_user.is_authenticated and current_user.id == item.user_id or current_user.id == 2%}
                        <div>
                            <a href="/news/{{ item.id }}" class="btn btn-warning">
                                Изменить
                            </a>
                            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                                Удалить
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endfor %}
{% endblock %}